@media(max-width: 575.98px) {
header{
padding: 5px 0;

}

.logo{
width: 180px;

}

.menu ul li a{
padding: 0 5px 5px 5px !important;

}
.btn_sw{
	margin-left: 0;

}

.banner{

padding-bottom: 60px;

}

.b_text{
text-align: center;

}
.b_h1{
	
margin: 10px 0 20px !important;

font-size: 35px;
line-height: 44px;


}


.b_p2{
	margin: 0;
line-height: 30px;


}

.b_img{
padding: 0 0 30px;

}

/* feature */

.f_item{
	margin: 30px 0 0;
}
.p_bottom{
	padding-bottom: 60px;
}
.f_h2{
	font-size: 21px;
}
/* course */
.c_h1 h1{

font-size: 28px !important;

}
.co_item{
	padding: 15px 15px 20px !important;
	margin: 30px 0 0 !important;
}
.co_h2{
	
font-size: 21px !important;


}
.cli:not(:last-child) {
margin-right: 0;
}

.co_left ul li img, .co_right ul li img{

width: 20px;

}
.co_left ul li span, .co_right ul li span{
font-size: 13px;

}






}
@media (min-width: 576px) and (max-width: 767.98px){

header{
padding: 5px 0;

}

.logo{
width: 190px;

}

.menu ul li a{
padding: 0 5px 5px 5px !important;

}
.btn_sw{
	margin-left: 0;

}

.banner{

padding-bottom: 60px;

}

.b_text{
text-align: center;

}
.b_h1{
	margin: 10px 110px 20px;
font-size: 30px;
line-height: 45px;


}
.b_p2{
	margin: 0 50px;
line-height: 30px;


}

.b_img{
padding: 0 50px 30px;

}


/* feature */

.f_item{
	margin: 30px 0 0;
}
.p_bottom{
	padding-bottom: 60px;
}
/* course */

.c_h1 h1{

font-size: 28px !important;

}
.co_item{
	padding: 15px 15px 20px !important;
	margin: 30px 50px 0 !important;
}
.co_h2{
	
font-size: 21px !important;


}









}

@media (min-width: 768px) and (max-width: 991.98px){

header{
padding: 10px 0;

}



.menu ul li a{
padding: 0 5px 5px 5px !important;

}
.btn_sw{
	margin-left: 0;

}

.b_text{
text-align: center;

}
.b_h1{
	margin: 10px 160px 20px;
font-size: 35px;
line-height: 50px;


}
.b_p2{
	margin: 0 110px;
line-height: 30px;


}

.b_img{
padding: 0 50px 30px;

}
/* feature */

.f_item{
	margin: 40px 0 0;
}
.p_bottom{
	padding-bottom: 80px;
}

/* course */

.c_h1 h1{

font-size: 30px !important;

}
.co_item{
	margin: 40px 120px 0 !important;
}





}
@media (min-width: 992px) and (max-width: 1199.98px) {
/* course */
.co_item{
	
padding: 20px 15px 25px;


}
.cli:not(:last-child) {
margin-right: 0;
}

.co_left ul li img, .co_right ul li img{

width: 20px;

}
.co_left ul li span, .co_right ul li span{
font-size: 13px;

}


}
@media (min-width: 1440px) {

.b_h1{
	margin: 10px 110px 20px 0;


}




}
