@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');


:root{
--green : #21B573;
--orange : #FD511A;
--background:#F0FFF0;
--navy:#413960;
--black:#000000;
--footer:#282531;
--book1:#F8FFFB;

--pop:"Poppins", sans-serif;
--rob:"Roboto", sans-serif;

}


body{
font-family: var(--pop);
font-size: 16px;
font-weight: 400;
color: var(--black);


}
/*header start*/
header{
background-color: var(--background);
padding: 15px 0;

}

.c_nav{

}
.logo{

}
.menu{

}
.menu ul li a{
color: var(--black);
padding: 0 20px !important;
}
.menu ul li a:hover{
color: var(--orange);
}
.btn_sv{
background-color: var(--green);
border-radius: 33px;

font-family: var(--rob);
font-weight: 400;
color: #FFFFFF;
border: 0;
}
.btn_sw{
	margin-left: 15px;
padding: 12px 28px;
}
.btn_sv:hover{
	background-color: var(--orange);
	color: white;
}
.btn_sv:active{
	background-color: var(--orange) !important;
	color: white !important;
}
/*header end*/

/*hero start*/
.banner{
background-color: var(--background);
padding-bottom: 65px;

}
.b_text{

}
.b_p1{
color: var(--orange);
}
.b_h1{
	margin: 10px 45px 20px 0;
font-weight: 700;
font-size: 48px;
line-height: 70px;
color: var(--black);

}
.b_h1 span{
	color: var(--green);
}
.b_p2{
line-height: 36px;


}
.btn_get{
padding: 12px 36px;
margin-top: 15px;
}
.b_img{

}


/*hero end*/
/*feature start*/
.frature{

}
.p_bottom{
padding-bottom: 100px;

}


.f_item{
	margin: 45px 0 0;
	padding: 55px 0 50px;
background-color: var(--background);
border-radius: 10px;
transition: .33s;

}
.f_img{
width: 75px;
height: 80px;

}
.f_img img{


}

.f_h2{
	margin: 20px 0 0;
font-weight: 500;
font-size: 24px;
color: var(--black);
}

.f_p{



}
.f_item:hover{
	background-color: white;
box-shadow: 0px 20px 40px 0px #0000001A;


}


/*feature end*/


/*course start*/
.course{

}
.c_h1{

}
.c_h1 h1{
font-weight: 700;
font-size: 36px;
color: var(--black);

}
.co_item{
	margin: 60px 0 0;
border-radius: 18px;
box-shadow: 0px 10px 40px 0px #0000001A;
padding: 25px 20px 30px;


}
.co_img{


}
.co_img img{

}

.co_h2{
	margin: 20px 0 5px;
font-weight: 500;
font-size: 24px;
color: var(--black);

}
.co_p{

}
.btn_co{
	margin: 20px 0 35px;
padding: 8px 28px;
}




.co_footer{

}
.co_left{

}
.co_right{


}
.cli:not(:last-child) {
margin-right: 6px;
}


.co_left ul li img, .co_right ul li img{



}
.co_left ul li span, .co_right ul li span{
font-weight: 500;

}



/*course end*/


